/* styles.css */

* {
	font-family: Arial;
}
.root {
	/* CSS HEX */
--soft-blush: #f1dedeff;
--lilac-ash: #bbacc1ff;
--blackberry-cream: #4d243dff;
--grey-olive: #909580ff;
--ebony: #545643ff;
}
.gentium-book-plus-regular {
  font-family: "Gentium Book Plus", serif;
  font-weight: 400;
  font-style: normal;
}

.gentium-book-plus-bold {
  font-family: "Gentium Book Plus", serif;
  font-weight: 700;
  font-style: normal;
}

.gentium-book-plus-regular-italic {
  font-family: "Gentium Book Plus", serif;
  font-weight: 400;
  font-style: italic;
}

.gentium-book-plus-bold-italic {
  font-family: "Gentium Book Plus", serif;
  font-weight: 700;
  font-style: italic;
}
